/* You can add global styles to this file, and also import other style files */
.dark{
    background-color: #212529;
    color: #f8f9fa;
    height: 100vh;
}

.light{
    background-color: #f8f9fa;
    color: #212529;
}
.home-page-text{
    font-size: large;
    color: white;
    text-align: center;
}