.body{
    font-size:small;
    color:grey;
    text-align: center;
}
.product-item-filter{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 5px 0;
}
