.bg-top{
    background-color:transparent !important;
    font-size: 16px;
}
.text{
    
    color:white;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
}
.ftco-navbar-light{
    background: transparent !important;
    z-index: 3;
    padding: 0;
}
.navbar-brand{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    color: #82ae82;
}
.ftco-navbar-light .navbar-nav>
.nav-item> .nav-link{
    font-size: 11px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;

}
h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .p {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
  }
  