<table [ngClass]="'light'" class="table col-sm-8 offset-sm-2" *ngIf="custService.isLoggedIn">
    <thead>
    <tr>
      <th>Email Address</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>{{custService.currentUser.emailAddress}}</td>
      <td>{{custService.currentUser.customerName}}</td>
      <td>{{custService.currentUser.customerAddress}}</td>
      <td>{{custService.currentUser.customerContact}}</td>
    </tr>
    </thead>
</table>

<h2 *ngIf="!custService.isLoggedIn">Please Sign In!</h2>