<table [ngClass]="'light'" class="table col-sm-8 offset-sm-2" *ngIf="custService.isLoggedIn">
    <thead>
    <tr>
      <th>Email Address</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>{{custService.currentUser.emailAddress}}</td>
      <td>{{custService.currentUser.customerName}}</td>
      <td>{{custService.currentUser.customerAddress}}</td>
      <td>{{custService.currentUser.customerContact}}</td>
    </tr>
    </thead>
</table>

<table [ngClass]="'light'" class="table table-bordered col-sm-8 offset-sm-2" *ngIf="custService.isLoggedIn">
    <caption [ngClass]="'light'">My Orders</caption>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Price</th>
      <th>Order Status</th>
      <th>Order Date</th>
      <th>Subscription</th>
    </tr>
    <tr class="orderRow" *ngFor = "let row of orders" (click)="orderDetails(row.orderId)">
        <td *ngFor = "let column of headers">
          {{row[column]}}
        </td>
      </tr>
    </thead>
</table>


<h2 *ngIf="!custService.isLoggedIn">Please Sign In!</h2>