<!-- <table [ngClass]="'light'" class="table col-sm-2 offset-sm-5" *ngIf="farmerService.isLoggedIn">
    <thead>
        <tr>
          <th>Email Address</th>
          <td>{{farmerService.currentFarmer.email}}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{farmerService.currentFarmer.farmerFirstName}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{farmerService.currentFarmer.farmerLastName}}</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>{{farmerService.currentFarmer.farmerLocation}}</td>
        </tr>
        <tr>
          <th>Contact</th>
          <td>{{farmerService.currentFarmer.farmerContact}}</td>
        </tr>
        </thead>
    </table>-->

    <table class="farmer-products" > 
      <tr>
        
        <!-- <th scope="col">Name</th> -->
        <!-- <th scope="col">Basket ID</th> -->
        <th class="farmer-product-heading" scope="col">Product Image</th>
        <br>
        <th class="farmer-product-heading" scope="col">Product ID</th>
        <br>
        <th class="farmer-product-heading" scope="col">Product Name</th>
        <br>
        <th class="farmer-product-heading" scope="col">Product Description</th>
        <br>
        <th class="farmer-product-heading" scope="col">Product Category</th>
        <br>
        <th class="farmer-product-heading" scope="col">Product Price</th>
        <br>
        <th class="farmer-product-heading" scope="col">Stock Quantity</th>
     
       
    
    <tr *ngFor="let prod of farmerProducts; let i = index">

        <td> <img src="/assets/images/placeholder.jpg" height=100 class="placeholder-image"> </td>
        <br>
        <td>{{prod.productId}}</td>
        <br>
        <td>{{prod.productName}}</td> 
        <br>
        <td>{{prod.productDesc}}</td> 
        <br>
        <td>{{prod.productCat}}</td> 
        <br>
        <td>{{prod.productPrice}}</td> 
        <br>
        <td>{{prod.stockQuantity}}</td> 
       
      
    </tr>
    